$borderColor:#707070;

.header{
    grid-column: 2/-1;
    border: 1px solid  rgba($color: $borderColor, $alpha: 0.6);
    border-left: 0;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5rem;
    padding-right: 10rem;
  
}