
$primaryColor:#B4B2C0;
$borderColor:#707070;
$secondaryColor:#222C56;
.navbar{
   
    background-color: rgba($color:$primaryColor, $alpha: 0.6);
    grid-row: 1/-1;
    border: 1px solid  rgba($color: $borderColor, $alpha: 0.6);
    display: flex;
    flex-direction: column;
    justify-content: flex-start !important;
    align-items:center;

    .ft-container{
        margin: 2rem;
        p{
            background-color:$secondaryColor ;
            color: white;
            padding: 0.6rem 2rem;
            border-radius: 0.8rem;
            text-shadow: 2px 2px 2px $secondaryColor ;
            
        }
    }

    .nav-container{
        list-style-type: none;
        padding-left: 0 !important;
        width: 60%;
       
          li{
              margin: 2rem;
              text-align: left;
              width: 100%;
              display: flex;
             
              
             .link{
                
                 color:$secondaryColor ;
                 font-weight: bold;
                 text-decoration: none;
                 text-align: left;
                 flex:2;
                 
             }
             .fa{
                  flex: 1;
                  color: $borderColor;
             }

          }
    }

    
    
}